shashwath@LAPTOP-1J2S4MCQ:/mnt/c/Users/Shashwath/Desktop/PBL/PBL-/week4/src$ ./test_optimal
Page  F1  F2  F3  Status
7      7   -   -   Fault
0      7   0   -   Fault
1      7   0   1   Fault
2      2   0   1   Fault
0      2   0   1   Hit
3      2   0   3   Fault
0      2   0   3   Hit
4      2   4   3   Fault
2      2   4   3   Hit
3      2   4   3   Hit

Hits: 4
Faults: 6
Hit ratio: 40.00%
Fault ratio: 60.00%